body, html {
    height: 100%;
  }
  
  .background_container {
    background-image: url("https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .about {
    position: absolute;
    top: 50%;
    left: 50%;
    color: aliceblue;
    font-size: larger;
    text-align: right;
  }